@import "tailwindcss";

@theme {
  --color-primary: #6366F1;
  --color-primary-hover: #4F46E5;

  --color-success: #22C55E;
  --color-danger: #EF4444;
  --color-warning: #F59E0B;

  --color-background: #F8FAFC;
  --color-card: #FFFFFF;
  --color-border: #E5E7EB;

  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
}